# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# yarn
yarn-error.log
yarn.lock
